// 全站色調
$gray = #9E9E9E
$gray-lighten-1 = #BDBDBD
$gray-lighten-2 = #E0E0E0
$gray-lighten-3 = #EEEEEE
$gray-lighten-4 = #F5F5F5
$gray-lighten-5 = #FAFAFA
$gray-darken-1 = #757575
$gray-darken-2 = #616161
$gray-darken-3 = #424242
$gray-darken-4 = #212121

$black-0-87 = rgba(0, 0, 0, 0.87)
$black-0-6 = rgba(0, 0, 0, 0.6)
$black-0-58 = rgba(0, 0, 0, 0.58)
$black-0-54 = rgba(0, 0, 0, 0.54)
$black-0-42 = rgba(0, 0, 0, 0.42)
$black-0-38 = rgba(0, 0, 0, 0.38)
$black-0-26 = rgba(0, 0, 0, 0.26)
$black-0-2 = rgba(0, 0, 0, 0.2)
$black-0-18 = rgba(0, 0, 0, 0.18)
$black-0-12 = rgba(0, 0, 0, 0.12)
$black-0-06 = rgba(0, 0, 0, 0.06)

$primary = #1469CD
$primary-lighten = #2196F3

$secondary = #0B548F
$accent = #B71D67
$error = #D32F2F
$info = #039BE5
$success = #009688
$warning = #FB8C00