// 全站色調

$bg-color = #140F0A
$black = #000000
$black-80 = #4B4B4B
$black-60 = #909090
$black-40 = #ECECEC
$black-10 = #F9F9F9

$primary = #BF9D7D
$primary-120 = #7B6651
$primary-80 = #AE9984
$primary-60 = #E1D1C2
$primary-40 = #F1EAE4
$primary-tint = #F7F2EE

$success = #52DD7E
$success-120 = #299F65
$success-20 = #BCFBBD
$success-10 = #E8FEE7

$info = #3BADEF
$info-120 = #1D66AC
$info-20 = #B1EFFD
$info-10 = #E6FBFE

$error = #DA3E51
$error-120 = #C22538
$error-20 = #F5CCD1
$error-10 = #FDECEF
