.web-container
  width 100%
  max-width 1320px
  padding 0 12px
  margin auto
img
  width 100%
// checkbox
:deep .v-checkbox
  .v-selection-control
    min-height auto
    --v-selection-control-size 24px
  .v-label
    opacity 1