@import "./rwd.styl"

*:not(.material-icons)
  font-family 'Noto Serif TC', sans-serif, 'Noto Sans TC'

// 字體定義
h1, h2, h3, h4, h5, h6
  font-weight 400
h1, h2, h3, h4, h5, h6
  &.bold
    font-weight 700
h1
  font-size 48px
  line-height 120%
  letter-spacing 2.4px
h2
  font-size 40px
  line-height 120%
  letter-spacing 2px
h3
  font-size 32px
  line-height 120%
  letter-spacing 1.6px
h4
  font-size 28px
  line-height 120%
  letter-spacing 1.4px
h5
  font-size 24px
  line-height 120%
  letter-spacing 1.2px
h6
  font-size 20px
  line-height 120%
  letter-spacing 1px
.font-title
  font-size 16px
  line-height 150%
  letter-spacing 0.32px
  font-weight bold
// 副標題
.font-subtitle
  font-size 14px
  line-height 150%
  letter-spacing 0.28px
  &.bold
    font-weight bold
// 內文
.font-body
  font-size 16px
  line-height 150%
  letter-spacing 0.32px
  &-2
    font-size 14px
    line-height 150%
    letter-spacing 0.28px
.font-tiny
  font-size 12px
  line-height 150%
  letter-spacing 0.24px
